[submodule "grunt-init/gruntfile"]
	path = grunt-init/gruntfile
	url = https://github.com/gruntjs/grunt-init-gruntfile.git

[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
